<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
	    <div th:fragment="header">
	    	<div style="position:fixed; top:0; left:0; background-color:white; font-weight:bold; font-size:18px;">
		    	<a href="/">홈</a>
		    	|
		    	<a href="/work-list">할일 목록</a>
		    	|
		    	<a href="/site-info">사이트 정보</a>
		    	<hr>
	    	</div>
	    	<div style="margin-top : 50px; height:30x;"></div>
	    </div>
	   
    </body>
</html>